@import url("https://fonts.cdnfonts.com/css/chirp-2");
.lastftext{
  display:table-column-group;
}
.Fuct{
  list-style: none;
  
}
.profilephoto{
  width: 00%;
  padding: 100px;
}
/* ProfilePage.css */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  margin-right: 10px;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.bio {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.location,
.website {
  font-size: 14px;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat {
  text-align: center;
  width: 33%;
}

.number {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  font-size: 14px;
}


/* Poopyup */

.modal {
  display: none;  /* Hidden by default  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  margin-left: 350px;
  width: 40%; /* Full width */
  height: 800%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
}
.Allinf{
  margin-left: 30px;
  
}
/* Modal Content */
.modal-content {
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 20px;
  border: px solid #888;
  border-radius: 25px;
  width: 80%;
}

.pmid{
  width: 42% !important;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal1 {
    /* Hidden by default  */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  margin-left: 350px;
  width: 40%; /* Full width */
  height: 800%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
}
.Allinf{
  margin-left: 30px;
  
}
/* Modal Content */
.modal-content1 {
  background-color: rgb(0, 0, 0);
  margin: auto;
  padding: 20px;
  border: px solid #888;
  border-radius: 25px;
  width: 80%;
}
.Foy:hover{
background-color: rgb(144, 135, 135);
cursor: pointer;
 
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.fnfb{
  margin-left: 65px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*  */

.sifield{
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 350px;
  height: 25px;
}
.sifield:hover{
  border-color: #1f9bf0;
}
.sifield:focus{
  border-color: #1f9bf0;
}


.Container {
  display: flex;
}

.Middles {
  font-size: 12px;
  margin-left: 15px;
  position: sticky;
  height: 100vh;
  width: 40%;
  left: 0;
  top: 0;
  border-right: 0.1rem solid var(--background-grey);

}

.Foy {
  /* margin-top: 50px; */
  font-weight: lighter;
  /* margin-left: 120px;  */
  
}
.active{
  color: #1f9bf0;
}
.Fos {
  font-weight: lighter;
  margin-right: 25px;
  justify-content: center;
  cursor: pointer;

}

.Twhead {
  display: flex;
  justify-content: space-evenly;
  

}

.haper {
  display: flex;

}

.Whh {
  margin-left: 20px;
  background-color: #000;
  padding: 10px;
  width: 400px;
  color: wheat;

}

:root {
  --black: #000;
  --white: #fff;
  --headings-white: #e7e9ea;
  --blue: #1f9bf0;
  --background-grey: #212327;
  --light-grey: #71767a;
  --grey: #181818;
}

body {
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  font-family: "Chirp", sans-serif;
  overflow-x: hidden;
  display: flex;
}

.tbn {
  margin-left: 20px;
  background-color: #1f9bf0;
  color: #fff;
  border-radius: 15px;
  padding: 10px;

}

.usser {
  /* size: 50px; */
}

.feedss {
  display: flex;
}

.fnh {
  font-size: 20px;
}

.tweetimg {
  max-width: 100%;
  max-height: 200%;
  margin-left: -13px;
}

.fem {
  margin-top: -16px;
  margin-left: 48px;
  font-size: 15px;
  font-weight: 50;
}

.totwets {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  color: #1f9bf0;
  font-size: 16px;
}
#inputField {
  border: 2px solid rgb(255, 255, 255);
  padding: 15px;
  outline: none;
  width: 70%;
  color: white;
}

#inputField:focus {
  border-color:#1f9bf0;
  
  outline: none;
}
.Passty{
  width: 253%;
}

.alfunc {
  display: flex;
  gap: 3rem;
  /* justify-content: space-evenly; */
  color: #1f9bf0;
}
.postw {
  display: flex;
  gap: 3rem;
  /* justify-content: space-evenly; */
  color: #1f9bf0;
}
.maintweetph{
  margin-top: 50px;
}
/* Left Sidebar */
/* Responsinv  */
.sidhead{
  font-weight: 1000;
}
.maintweetph{
  
}
.sidname{
  font-weight: 1000;
}
.sidusername{
  color: rgb(65, 59, 59);
}
.ls{
  transition: 0.1s;
  position: fixed;
  z-index: 1;
  background-color: #000000;
  /* width: 30vw; */
  height: 100vh;
  left: 0;
  /* transform: translate(-50%, -50%)'; */
  top: 0;
  border-right: 0.1rem solid var(--background-grey);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.closs{
  color: white;
  margin-left: 50px;
}
.lf{
  color: white;
  display: flex;
  align-items: flex-start;
  margin: 0.5rem rem;
  cursor: pointer;
  width: 14rem;
  flex-direction: column;
  transition-duration: 6ms;
}
.lkf{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  padding-right: 2rem;
}
.ll {
  width: 1.8rem;
  height: 1.8rem;
}

.lt {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  
  margin: 1rem 0rem;
}

/* Responsinv  */
.left-sidebar {
  position: sticky;
  /* width: 30vw; */
  height: 100vh;
  left: 0;
  
  top: 0;
  border-right: 0.1rem solid var(--background-grey);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.links-flex {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem rem;
  cursor: pointer;
  width: 14rem;
  flex-direction: column;
}

.white-logo {
  padding: 1rem;
  border-radius: 50%;
}

.white-logo:hover {
  
}

.twitter-white-logo {
  height: 2rem;
  width: 2rem;
}

.link-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  padding-right: 2rem;
}

.link-flex:hover {
  background-color: var(--background-grey);
  border-radius: 2rem;
  color: var(--blue);

}
.dmp{
  margin-bottom: 150px;
}
.link-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.link-text {
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  
  margin: 1rem 0rem;
}

.twitter-white-logo {
  color: rgb(3, 152, 245);
}

.twitter-white-logo:hover {
  color: white;
}

.trrends {
  margin-top: 80px;
  margin-left: 30px;
  /* width: 300px; */
  border-radius: 15px;
  background-color: #17191D;
  border: 40px solid #17191D;
  width: 350px;
  
}
.tends{
  margin-top: 20px;
  margin-left: 30px;
  /* width: 300px; */
  border-radius: 30px;
  border: 5px solid #17191D;
  width: 320px;
}
.wpt{
  margin-left: 20px;
}
.pti{
font-weight: 400;
font-size: 13px;
/* margin: 0; */
}
.sihe{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 270px;
  height: 40px;
  border-radius: 25px;
  font-weight: 800;
}
.the {
  margin-bottom: 50px;
  font-weight: 800  ;
  font-size:20px;
}

/*  */
/* Media Queries */
@media only screen and (499px<= width <=3000px) {
.ls{
  display: none;
}
}
@media only screen and (max-width: 2000px) {
  .resptw{
    display: none;
  }
  
  .stickmsge{
    display: none;
  }
  .fade{display: none;}
  #fade{display: none;}
}

@media only screen and (max-width: 1200px) {
  .left-sidebar {
    width: 4rem !important;
  }
  .link-text {
    display: none;
  }
  .stickmsge{
    background-color: #1f9bf0;
    position: fixed;
    width: 180px;
    height: 45px;
    line-height: 45px;
    bottom: 10%;
    right: 3%;
  }

  .links-flex {
    margin: 0;
  }

  .link-flex {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 17px;
  }
  .resptw{
    display: none;
   }

  /* .Middles {
    margin-left: 80px;  
  } */
  
}
 @media only screen and (max-width: 990px) {
  .resptw{
   display: none;
  }
  
  .Trends{
    display: none;
  }
  .Middles{
    /* width: 65%; */
    width: auto;
  }
  .pmid{
    width: 81% !important;
    margin-right: auto !important;
    margin-left: 47px !important;
}
  
  }

  @media only screen and (max-width: 990px) {
    .Whh{
      display: none;
    }
    .alfunc  {display: none;}
    .PPic {display: none;}
    #mhead{display: none;}
    .rts{display: none;}
  }
/* @media only screen and (max-width: 1000px) {

 
  .Trends {
    display: none;
    margin: 0;
  }
  .tweetimg {
    max-width: 75%;
  }

} */

/* @media only screen and (max-width: 700px) {
  .Middles {
    margin-left: 0px;
  }

  .Foy {}
} */

/* @media only screen and (max-width: 611px) {
  .Middles {
    margin-left: 0px;
    width: 70%;
    inline-size: max-content;
  }
  .left-sidebar {
   display: none;
  }
  .Foy {
    font-size: 20px;
    margin-top: 20px;
    inline-size: max-content;
  }
} */
/* @media only screen and (max-width: 450px) { */
  /* #mhead{
    display: none;
  }
  .haper{
    display: none;
  }
  .alfunc{
    display: none;
  }
  .totwets{
    display: none;
  } */
  /* .tweetimg{
   
    max-width: 12%;
  }
} */
@media only screen and (max-width: 613px) {
  .resptw{
  display: none; 
  }
  .tweetimg{
    max-width: 100%;
    /* margin-left: 50px; */
  }
  .rts{
    display: none;
  }
}
@media only screen and (200px<= width <=400px) {
  .resptw{
  display: none; 
  }
  .tweetimg{
    max-width: 100%;
    /* margin-left: 50px; */
  }
  .rts{
    display: none;
  }
}
@media only screen and (max-width: 620px) {
  .Moboc{
        left: 50% !important;
        
  }
  #inputField {
    width: 58%;
  }
}
.Login{
  
}
.flowi{
  
}
.scrolling{
overflow-y: scroll;
}
.backshadow{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.backshadow .custom-modal{
  width: 500px;
  height: 500px;
  background-color: #000000;
  position: relative;
}
.delete-icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -15px;
}
/* .editinp{
  text-align: left;
  font-size: inherit;
  color: inherit;
  resize: none;
  appearance: none;
  box-sizing: border-box;
  background-color: rgba(0,0, 0, 0);
  width: 100%;
  outline-style: var(--blue);
  font-family: inherit;
  border-radius: 0px;
  padding: 0px;
  border-width: 0px;
  unicode-bidi: isolate;
  /* outline-offset: 0px; */
/* } */
/* .editinp:focus-visible{
  outline-offset: 0px;
} */ 
/* .Middles{
  display: flex;
  justify-content: center;
  margin-left: 200px;
} */
.editinp[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: #000;
  margin-top: 50px;
  width: 400px;
  height: 40px;
  color: white;
}
 .Whh{
  
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: 500px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #000000;
    background-color: #000;
    margin-top: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    
  
 }
 .Whh::placeholder {
  font-size: 25px;
 }
.Whh:focus, textarea:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.7);
  /* padding: 3px 0px 3px 3px; */
  /* margin: 5px 1px 3px 0px; */
}
 .inapa{
  
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: 500px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #000000;
    background-color: #000;
    margin-top: 50px;
    height: 150px;
    color: white;
    
  
 }
 .inapa::placeholder {
  font-size: 30px;
 }
.inapa:focus, textarea:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.7);
  /* padding: 3px 0px 3px 3px; */
  /* margin: 5px 1px 3px 0px; */
}
.editinp[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  
  border: 1px solid rgba(81, 203, 238, 1);
}
.editinp[type=number], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: #000;
  margin-top: 50px;
  width: 400px;
  height: 40px;
  color: white;
}
 
.editinp[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  /* margin: 5px 1px 3px 0px; */
  /* border: 1px solid rgba(81, 203, 238, 1); */
 } 
.dele{
  cursor: pointer;
}
.top-sec{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.EditPic{
  width: 25%;
  height: 25%;
  border-radius: 70%;
  margin-right: 10px;
}
.post-sidersc{
  overflow-y: scroll;

}
.modalmm{
  position: absolute;
  top:  30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600;
  /* // bgcolor: background.paper, */
  border: 2px solid #000;
  
  
}
@media only screen and (max-width: 600px) {
  .inapa{
    width: 323px !important;
  }
  .main-modal{
    /* width: 350px; */
  }
  .modal-color{
    width :350px;
  }
  .modalmm{
    width :350px;
  }
  .postw {
gap: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .resptw{
   display: flex;
   font-size: 20px;
  }
  .birdd{
    margin-left: 110px;
  }
  .left-sidebar{
    display: none;
  }
  .rts{
    display: none;
  }
  .pmid{
    /* width: ; */
    margin-left: 33px !important;
  }
  .ediban{
    height: 74% !important;
  }
}


.modalmm{
  background-color: rgba(0, 0, 0, 10);
  border-radius:5% ;
  
}
.main-modal{
  border: 25%;
  background-color: rgba(199, 199, 199, 0);
}
.camer{
  
}
.topsec{
  gap:2.5rem;
  background-color: #000;
  width: 400px;
}
.bigpro{
  background-color: rgb(138, 138, 138);
  height: 200px;
  margin-right: 20px;
  
}
.iapia{
margin-top: 180px;
width: 150px;
height: 150px;
}
.ads{
  justify-content: space-between;
}
.cscg{
  color: #888;
  font-size: 20px;
}
.twdsa{
  justify-content: space-between;
}
.ediban{
  height: 30px;
  width: 20%;
  margin-top: 200px;
  /* margin-left: 150px; */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid white;
  border-radius: 10%;
  transition: 0.8s;
}
.ediban:hover{
  background-color: rgba(192, 192, 192, 0.7);
}
.mainan{
margin-top: 150px;
}
.ateh{
  font-weight: lighter !important;
  color: #888;
}
.csa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.honuni{
  height: 30px;
  width: 20%;
  /* margin-top: 200px; */
  /* margin-left: 150px; */
  background-color:#fff;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  border-radius: 10%;
  transition: 0.8s;
  font-weight: 900;
}
/* .linepa{
  width: 20%;
  height: 10px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
} */